/*CSS dividido em partes ~ Daniel Salgado*/

/*container geral de que cada artefato*/

.meu-container {
  width: 30%;
  float: left;
  height: 30%;
  margin-right: 3%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  background-color: #852323;
  min-height: 680px;
}

/*container exclusivo dos comentários*/

.container-comment {
  width: 60%;
  float: left;
  height: 50%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #852323;
}

/*container que acompanha o nav bar*/

.container{
  width: 300px; 
  height: 500px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  background-color: #272527;
}

/*container de comentários e atividade recente*/

.container-texto{
  width: 50%; 
  height: 50%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  background-color: #272527;
}

.image {
  max-width: 100%;
  height: auto;
}

header{
  background-color: #313030;
  margin-bottom: 30px;
}

body {
  background-color: #ddb0b0;
}

/*links*/ 

.imagem {
  width: 100%;
  height: auto;
}

/*footer*/
footer {
  margin-top: 20px;
  color: #3c3939;
}

.footer_area {
  padding: 10px;
  text-align: center;
}

/*headers*/

h1{
  margin-bottom: 30px;
  color: #e8dede;
}

h2{
  margin-bottom: 30px;
  text-align: center;
  color: #e8dede;
}

h3{
  margin-bottom: 30px;
  text-align: center;
  color: #e8dede;
}

h4{
  color: #e8dede;
} 

/*caixas*/

.box {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 7px;
  margin: 10px;
}

.box1 {
  background-color: #e4e1e1;
  color: rgb(39, 25, 25);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 5px;
}

* { margin: 0; padding: 0; }

/*fundo da tela(bakcground)*/
.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: #6C757D!important;
}

/*carrossel*/
.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}


